.main{
  height: 100vh;
  background-image: url(../public/assets/10213790.jpg);
 background-size:cover ;
 position: relative;

 padding-top: 220px;
}
.heading{
  display: flex;
  justify-content: center;
  text-align: center;
 color: green;
  
}
@media (min-width: 600px) and (max-width: 959px){

.main{
  padding-top: 150px;
}
.heading h1{
  font-size: 30px;
  font-weight: 600;
}
}
@media screen and (max-width:600px) {
  .main{
    padding-top: 160px;
  }
  .heading h1{
    font-size: 25px;
    font-weight: 600 ;
  }
}
